spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://${DEV_DB_HOST}:3306/${DEV_DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    hikari:
      pool-name: HikariCP-Dev

  # Redis 설정
  data:
    redis:
      host: ${DEV_REDIS_HOST}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  # JPA 설정 (개발 환경)
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          batch_size: 1000
        connection:
          provider_disables_autocommit: false

# 로깅 설정 (개발 환경)
logging:
  level:
    root: INFO
    com.tradingpt.tpt_api: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    region: ${AWS_REGION}
    bucket-name: ${S3_BUCKET_NAME}