spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3306/${LOCAL_DB_NAME:tpt_local_db}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
    username: ${LOCAL_DB_USERNAME:root}
    password: ${LOCAL_DB_PASSWORD:ehdfprl77}
    hikari:
      pool-name: HikariCP-Local

  # Redis 설정 (로컬)
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  # Spring Session (Redis) 설정
  session:
    store-type: redis
    timeout: 7d
    redis:
      flush-mode: immediate
      repository-type: indexed

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.jdbc.core: DEBUG

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    region: ${AWS_REGION}
    bucket-name: ${S3_BUCKET_NAME}


