spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://${DEV_DB_HOST}:3306/${DEV_DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    hikari:
      pool-name: HikariCP-Dev

  # Redis 설정
  data:
    redis:
      host: ${DEV_REDIS_HOST}
      port: 6379
      ssl:
        enabled: false
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  session:
    store-type: redis
    timeout: 7d
    redis:
      configure-action: NONE
      flush-mode: immediate
      repository-type: indexed

  # JPA 설정 (개발 환경)
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          batch_size: 1000
        connection:
          provider_disables_autocommit: false

# 로깅 설정 (개발 환경)
logging:
  level:
    root: INFO
    com.tradingpt.tpt_api: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    region: ${AWS_REGION}
    public-bucket: ${S3_BUCKET_NAME}
    private-bucket: ${S3_PRIVATE_BUCKET_NAME}

server:
  servlet:
    session:
      cookie:
        http-only: true
        secure: true          # 운영/Dev에서 HTTPS면 true
        same-site: None       # 다른 도메인에서 쿠키 전송이 필요하면 None
        path: /

app:
  frontend:
    base-url: https://www.tradingpt.kr
  cors:
    allowed-origins:
      - https://dev.tradingpt.shop
      - https://localhost:3000
      - https://localhost:3001
      - https://www.tradingpt.kr
      - https://manage-tradingpt.vercel.app/
    
    exposed-headers:
      - XSRF-TOKEN
      - X-XSRF-TOKEN
  swagger:
    servers:
      - url: https://dev.tradingpt.kr
        description: Dev API 서버

# NicePay 로컬/테스트 환경 설정
nicepay:
  credentials:
    mid: nictest04m
    merchant-key: b+zhZ4yOZ7FsH8pm5lhDfHZEb79tIwnjsdA0FBXh86yLc6BJeFVrZFXhAoJ3gEWgrWwN+lJMV0W4hvDdbe4Sjw==