spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3307/${DEV_DB_NAME}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    hikari:
      pool-name: HikariCP-Local

  # Redis 설정 (로컬)
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  # Spring Session (Redis) 설정
  session:
    store-type: redis
    timeout: 7d
    redis:
      flush-mode: immediate
      repository-type: indexed

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.jdbc.core: DEBUG
    com.tradingpt.tpt_api.global.infrastructure.nicepay: DEBUG
    feign: DEBUG

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    region: ${AWS_REGION}
    public-bucket: ${S3_BUCKET_NAME}
    private-bucket: ${S3_PRIVATE_BUCKET_NAME}

# NicePay 로컬/테스트 환경 설정
nicepay:
  credentials:
    mid: nictest04m
    merchant-key: b+zhZ4yOZ7FsH8pm5lhDfHZEb79tIwnjsdA0FBXh86yLc6BJeFVrZFXhAoJ3gEWgrWwN+lJMV0W4hvDdbe4Sjw==
  feign:
    logger-level: FULL

# CloudFront (prod 제외 공통)
cloudfront:
  domain: ${CLOUDFRONT_DOMAIN}
  keyPairId: ${CLOUDFRONT_KEY_PAIR_ID}
  privateKey: ${CLOUDFRONT_PRIVATE_KEY}
